@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p,
button {
  font-family: Lato;
  font-weight: 400;
  color: rgb(93, 93, 93);
}

.navigation {
  background: rgb(34, 34, 34);
  padding: 18px 0;
  align-items: center;
}

.navButtons {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 41px;
}

.rightButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 33px;
}

.leftButtons button,
.rightButtons button {
  background: rgb(34, 34, 34);
  border: none;
  cursor: pointer;
}

.banner {
  background: rgb(241, 228, 230);
}

.bannerConteiner {
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 63.42px;
}

.rightHeading {
  border-left: 12px solid rgb(241, 109, 127);
}

.text {
  margin-left: 16px;
}

.text h1 {
  font-weight: 900;
  font-size: 48px;
  color: rgb(34, 34, 34);
}

.text h3 {
  font-weight: 700;
  font-size: 32px;
  color: rgb(34, 34, 34);
}

.pinkFashion {
  color: rgb(241, 109, 127);
}

.conteiner {
  max-width: 1140px;
  margin: 68px auto 96px auto;

}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.card1 {
  background-image: url(./img/forWomen.png);
  width: 360px;
  height: 260px;
}

.card2 {
  background-image: url(./img/forMen.png);
  width: 360px;
  height: 260px;
}

.card3 {
  background-image: url(./img/forKids.png);
  width: 360px;
  height: 260px;
}

.card4 {
  background-image: url(./img/accesories.png);
  width: 1140px;
  height: 180px;
}

.layOfCard {
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.options h3 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
}

.pinkText {
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.products {
  text-align: center;
}

.products h2 {
  color: rgb(34, 34, 34);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 6px;
}

.products p {
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 48px;
}

.cardsOfProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 68.5px;
}

.card {
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  text-align: left;
}

.cardInformation {
  padding: 24px 16px;
}

.cardInformation h3 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  padding-bottom: 16px;
}

.cardInformation p {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  padding-bottom: 16px;
  margin-bottom: 0;
}

.pinkTextInProducts {
  color: rgb(241, 109, 127);
  font-size: 16px;
  line-height: 19px;
}

.products button {
  border: 0.5px solid rgb(242, 99, 118);
  padding: 15px 39px;
  background: white;
}